# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle files
.gradle/
build/


# Ignore system files
.DS_Store

# Ignore output file
output.txt

# Ignore all files and directories in src/
src/

# But do not ignore SnakeGame.java
!src/com/javarush/task/jdk13/task53/task5303/SnakeGame.java
!src/com/javarush/task/jdk13/task53/task5303/GameObject.java